<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<nav th:fragment="navbar" class="nav">
    <div class="container nav-inner">
        <a th:href="@{/}" class="nav-logo">DECKFORGE</a>
        <ul class="nav-links">
            <li><a th:href="@{/}" class="nav-link">Hjem</a></li>
            <li><a th:href="@{/cards/card-search}" class="nav-link">Se kort</a></li>
            <li><a th:href="@{/decks/user-decks}" class="nav-link">Decks</a></li>
            <li><a th:href="@{/collection}" class="nav-link">Samling</a></li>
            <li><a th:href="@{/test-auth}" class="nav=link"> test  </a>> </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/myprofile}" class="nav-link">Min side</a>

            </li>

            <li sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/admin/create-card-form}" class="nav-link">Opret kort</a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post" class="nav-logout-form">
                    <button type="submit" class="nav-link nav-logout-btn">Log ud</button>
                </form>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" class="nav-link">Log ind</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
