<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lav dit deck</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form th:action="@{/decks/deck-creator}" th:object="${deck}" method="post">

    <div class="field">
        <label for="name" class="form-label" >Deck Name:</label><br>
        <input type="text" id="name" th:field="*{name}" placeholder="eksemplevis dark destroyer deck" required class="form-input" ><br><br>
    </div>
    <div class ="field-row">
        <div class="field">
            <label for="formatType" class="form-label">Format</label>
            <select id="formatType" th:field="*{format}" required class="form-field" >
                <option value="">-- Choose --</option>
                <option th:each="f : ${formatType}"
                        th:value="${f}"
                        th:text="${f}"></option>
            </select>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Opret deck</button>
    </div>
</form>
</body>
</html>